---
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Sidebar from "@/components/sidebar.astro";
import { Toaster } from "@/components/ui/sonner";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Kali Kalihim</title>

    <ViewTransitions />
  </head>
  <body>
    <Toaster closeButton richColors client:load />
    <Sidebar />

    <main class="pl-60">
      <div class="px-20 py-16">
        <slot />
      </div>
    </main>
  </body>
</html>
