---
import Layout from "@/components/layouts/layout.astro";
import { db } from "@/drizzle/db";
import { MatchesTable } from "@/drizzle/schema";

const matches = await db.select().from(MatchesTable);
---

<Layout title="Matches">
  <div class="flex flex-col gap-2">
  {
    matches.map((match) => {
      return <a href={`/history/${match.matchId}`}>{match.matchId}</a>;
    })
  }
  </div>
</Layout>
