---
import Layout from "@/components/layouts/layout.astro";
import UserProfile from "@/components/user/profile";
import UpcomingMatch from "@/components/user/upcoming-match";
import PreviousMatches from "@/components/user/previous-matches";
import PowerCards from "@/components/user/power-cards";
import { db } from "@/drizzle/db";
import { getPowerCards } from "@/server/power-cards";
import { getPreviousMatches, getUpcomingMatch } from "@/server/matches";
import { ArnisSeasonsTable } from "@/drizzle/schema";
import { desc } from "drizzle-orm";
import type { PlayerPowerCard } from "@/types/schemas/player";
import type { UpcomingMatchResponseData, PreviousMatchResponseData } from "@/types/schemas/match";

// TODO: Remove this once proper auth is implemented
//const currentUser = "b00d9f00-0b8a-478d-8240-fa7090d06fb4";
const currentUser = "477bb83d-4752-4afa-acb2-1f9a9e0172f4";

type LoadData = {
  powerCards: PlayerPowerCard[];
  upcomingMatch: UpcomingMatchResponseData | null;
  previousMatches: PreviousMatchResponseData[];
};

const data: LoadData = await db.transaction(async (tx) => {
  const [latestSeason] = await tx
    .select({ arnisSeasonId: ArnisSeasonsTable.arnisSeasonId })
    .from(ArnisSeasonsTable)
    .orderBy(desc(ArnisSeasonsTable.createdAt))
    .limit(1);

  const powerCards = await getPowerCards(tx, currentUser);
  const upcomingMatch = await getUpcomingMatch(
    tx,
    currentUser,
    latestSeason.arnisSeasonId,
  );
  const previousMatches = await getPreviousMatches(
    tx,
    currentUser,
    latestSeason.arnisSeasonId,
  );

  return {
    powerCards,
    upcomingMatch,
    previousMatches,
  };
});
---

<Layout title="Home">
  <div class="flex gap-4">
    <UserProfile />

    <div class="flex w-full flex-col gap-4">
      <PowerCards powerCards={data.powerCards} />
      <UpcomingMatch match={data.upcomingMatch} />
      <PreviousMatches matches={data.previousMatches} />
    </div>
  </div>
</Layout>
