---
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
import { IconDashboard, IconLeaderboard, IconSwordCross } from "@/assets/icons";

type Route = {
  name: string;
  path: string;
  icon?: (props: astroHTML.JSX.SVGAttributes) => astroHTML.JSX.Element;
};

const ROUTES = [
  {
    name: "Home",
    path: "/",
    icon: IconDashboard,
  },
  {
    name: "Leaderboard",
    path: "/leaderboard",
    icon: IconLeaderboard,
  },
  {
    name: "Matchmake",
    path: "/matchmake",
    icon: IconSwordCross,
  },
] satisfies Route[];

function isCurrentRoute(path: string): boolean {
  const currentRoute = Astro.url.pathname;

  return path === currentRoute;
}
---

<aside class="fixed h-screen w-60 bg-card inset-0 border-r py-4">
  <div class="px-4 py-2">
    <h1 class="font-jost-bold text-xl">Kali Kalihim</h1>
  </div>
  <div class="flex flex-col w-full gap-2 p-2">
    {
      ROUTES.map((route) => {
        const Icon = route.icon;
        return (
          <a
            href={route.path}
            class={cn(
              buttonVariants({
                variant: isCurrentRoute(route.path) ? "default" : "ghost",
              }),
              "justify-start gap-1",
            )}
          >
            <Icon class="text-lg" />
            {route.name}
          </a>
        );
      })
    }
  </div>
</aside>
